@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-bengali: "Hind Siliguri", sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

.bg-mesh {
  background-color: #ffffff;
  background-image: radial-gradient(at 0% 0%, hsla(210, 100%, 98%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(210, 100%, 99%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(210, 100%, 98%, 1) 0, transparent 50%);
}

.dark .bg-mesh {
  background-color: #0f172a;
  background-image: radial-gradient(at 0% 0%, hsla(210, 40%, 15%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(210, 40%, 12%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(210, 40%, 15%, 1) 0, transparent 50%);
}
